<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="utf-8" />		
		<meta name="robots" content="noindex, nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	
		<title>{{title}}</title>
		
		<link href="http://fonts.googleapis.com/css?family=Pacifico|Khula:400,700,300|Yantramanav:400,700,300|Martel:400,300,700" rel="stylesheet">
		<link href="{{site.assets}}/css/style.css" rel="stylesheet">

	</head>
	
	<body>

		{{>header}}
	
		<div class="container">{{{contents}}}</div>

		{{>footer}}

	</body>

</html>